body
{
    background-color: yellowgreen;
    height: auto;
}

.nav
{
    font-weight: bold;
    color: brown; 
}

ul
{
    display: inline-block;
    float: right;
}

li
{
    display: inline-block;
    font-size: 20px;
    padding: 0 15px;
}
.copyright
{
    text-align: center;
    background-color: black;
    color: red;
    padding-top: 15px; 
    padding-bottom: 10px;
}

/*-----For Home-------*/

.product_cycle
{
    width: 400px;
    display: block;
    border: 2px solid ;
}
.product
{
    width: 300px;
    display: block;
    margin: 0 auto 0 auto;
}
.info
{
    text-align: center;
}

/*------For Buy--------*/
.buy
{
    width: 80%;
    text-align: center;
    margin: auto;
}

.req
{
    color: red;
}

/*------For Order--------*/

