body
{
    background-color: yellowgreen;
    height: auto;
}
.clsBody
{
    background-color: white;
}
.clsBody img
{
    opacity: 0.3;
}
.nav
{
    font-weight: bold;
    color: brown; 
}

ul
{
    display: inline-block;
    float: right;
}

li
{
    display: inline-block;
    font-size: 20px;
    padding: 0 15px;
}
.copyright
{
    text-align: center;
    background-color: black;
    color: red;
    padding-top: 15px; 
    padding-bottom: 10px;
}

/*-----For Home-------*/

.product_cycle
{
    width: 400px;
    display: block;
    border: 2px solid ;
}
.product
{
    width: 300px;
    display: block;
    margin: 0 auto 0 auto;
}
.info
{
    text-align: center;
}

/*------For Buy--------*/
.buy
{
    width: 80%;
    text-align: center;
    margin: auto;
}

.req
{
    color: red;
}

/*------For Order--------*/

.Orders
{
    border: 1px solid black;
    width : 80%;
    margin: 20px auto 0 auto;
}
.tableOrd
{
    width: 100%;
    text-align: center;
}
.tableOrd th
{
    font-size: 18px;
}
.sTRED
{
    color: red;
}
.sTLOrange
{
    color:orangered;
}
.sTGreen
{
    color: green;
}
.cheatSheet a
{
    color: brown;
}
.cheatSheet a:hover
{
    color: black;
}

.cheatSheet
{
    text-align: center;
}

.Signin
{
    text-align: center;
}
.Signin a
{
    color: black;
    font-weight: bold;
}
.Signin a:hover
{
    opacity: 0.5;
}
.Error
{
    margin: 10px 0 0 0;
    text-align: center;
    font-weight: bold;
}